* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: white;
  background: #ff771c;
}

*::selection {
  color: white;
  background: #ff771c;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  background: #110c11;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: default;
}

p {
  cursor: default;
}

#navbar .navbar {
  background: #161748 !important;
}

#navbar .navbar .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#navbar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: "Odibee Sans", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

#navbar .navbar .navbar-collapse .navbar-nav #magic-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 4px;
  background: #fe4902;
}

#home .container-fluid .row .intro-container {
  position: relative;
  width: 100%;
}

#home .container-fluid .row .intro-container .image {
  width: 100%;
}

#home .container-fluid .row .intro-container .image img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#home .container-fluid .row .intro-container .text {
  position: absolute;
  top: 33%;
  left: 10%;
}

#home .container-fluid .row .intro-container .text h1 {
  color: #39a0ca;
  font-size: 4vw;
  font-weight: bold;
}

#home .container-fluid .row .intro-container .text h1 .letter {
  display: inline-block;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

#home .container-fluid .row .intro-container .text h1 .letter:hover {
  color: #08fdd8;
}

#home .container-fluid .row .intro-container .text h1 .highlighted-name {
  color: #08d665;
}

#home .container-fluid .row .intro-container .text h1 .pink-sign {
  color: #f994c6;
}

#home .container-fluid .row .intro-container .text h1 .blue-sign {
  color: #0affff;
}

#home .container-fluid .row .intro-container .text h1 .orange-sign {
  color: #fb8d12;
}

#home .container-fluid .row .intro-container .text h1 .red-sign {
  color: #e90e10;
}

.cv-button {
  background: #df9615;
  color: white;
  padding: 10px 20px;
  border-radius:80%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  text-align: center;
  height: 80px;
  margin-top: 50px;
  width: 280px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-align: center;
  margin-left: calc(50% - 140px);
}

.cv-button p{
  margin: 0;
}
.cv-button:hover {
  background: #13277c;
}
.dw-icon{
  height: 50px;
  width: 50px;
}
.dw-txt{
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
}
.cv-button:hover .dw-txt {
  color: #ffffff;
}

#about .container .row {
  padding-top: 90px;
}

#about .container .row .image {
  width: 450px;
}

#about .container .row .image img {
  width: 100%;
}

#about .container .row .text {
  padding-top: 35px;
}

#about .container .row .text h1 {
  color: #ff771c;
  font-size: 44px;
}

#about .container .row .text p {
  margin: 0;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 400;
}

#portfolio .container .upper-row {
  padding-top: 150px;
}

#portfolio .container .upper-row .header h5 {
  color: #ff771c;
  font-size: 16px;
}

#portfolio .container .upper-row .header h2 {
  color: white;
}

#portfolio .container .upper-row .info-content {
  padding-left: 30px;
  border-left: 3px solid #ff771c;
}

#portfolio .container .upper-row .info-content p {
  margin: 0;
  color: white;
  font-size: 18px;
}

#portfolio .container .middle-row {
  padding-top: 50px;
}

#portfolio .container .middle-row .skill-box {
  padding: 15px;
  background: #110c11;
  -webkit-box-shadow: 0px 65px 64.5px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 65px 64.5px rgba(0, 0, 0, 0.39);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

#portfolio .container .middle-row .skill-box:hover {
  background: #131617;
}

#portfolio .container .middle-row .skill-box h5 {
  color: #ff771c;
  font-size: 20px;
  margin: 12px 0;
}

#portfolio .container .middle-row .skill-box p {
  margin: 0;
  color: white;
  line-height: 1.6;
}

#portfolio .container .lower-row {
  padding-top: 100px;
}

#portfolio .container .lower-row .circle {
  width: 150px;
  margin: 6px 6px 0px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
}

#portfolio .container .lower-row .circle h2 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 42px;
  font-size: 40px;
  color: #fff;
}

#portfolio .container .lower-row .circle h2::after {
  content: "%";
}

#portfolio .container .lower-row .circle span {
  display: block;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 58px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

#projects {
  padding-bottom: 75px;
}

#projects .container .upper-row {
  padding-top: 150px;
}

#projects .container .upper-row .header h5 {
  color: #ff771c;
  font-size: 16px;
}

#projects .container .upper-row .header h2 {
  color: white;
}

#projects .container .upper-row .info-content {
  padding-left: 30px;
  border-left: 3px solid #ff771c;
}

#projects .container .upper-row .info-content p {
  margin: 0;
  color: white;
  font-size: 18px;
}

#projects .container .upper-row .owl-nav .owl-prev {
  height: 45px;
  width: 45px;
  background: transparent;
  border: 1px solid #ff771c;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  color: #ff771c;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#projects .container .upper-row .owl-nav .owl-prev:hover {
  background: #ff771c;
  color: white;
}

#projects .container .upper-row .owl-nav .owl-next {
  height: 45px;
  width: 45px;
  background: transparent;
  border: 1px solid #ff771c;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  color: #ff771c;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#projects .container .upper-row .owl-nav .owl-next:hover {
  background: #ff771c;
  color: white;
}

#projects .container .lower-row {
  padding-top: 50px;
}

#projects .container .lower-row .owl-carousel .item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder {
  margin: 10px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 420px;
  background: #131617;
  border-radius: 5%;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder {
  width: 100%;
  height: 100%;
  position: relative;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .image {
  width: 100%;
  height: 50%;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .image img {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 5%;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .text {
  padding: 20px;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .text h2 {
  color: #ff771c;
  cursor: pointer;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .text .description {
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}

#projects .container .lower-row .owl-carousel .item .outer-cardholder a .cardholder .tags {
  position: absolute;
  top: 90%;
  right: 5%;
  margin: 0;
  width: 30%;
  text-align: center;
  border: solid 1px white;
  border-radius: 1000px;
  cursor: pointer;
}

#contact {
  padding-bottom: 100px;
}

#contact .container {
  padding-top: 50px;
}

#contact .container .row {
  padding-top: 30px;
}

#contact .container .row .text h1 {
  color: #ff771c;
  text-align: center;
}

#contact .container form .row label {
  color: white;
}

#contact .container form .row input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#contact .container form .row textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#footer {
  background: #101820ff;
}

#footer .container .row {
  padding-top: 75px;
  padding-bottom: 50px;
}

#footer .container .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .container .row .icons a .icon {
  margin-left: 20px;
  border: 2px solid white;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8em;
  -webkit-transition: background 0.3s ease-out 0s;
  transition: background 0.3s ease-out 0s;
}

#footer .container .row .icons a .icon:hover {
  background: #d29d07;
}

#footer .container .row .icons a .icon i {
  color: white;
  line-height: 1;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

#footer .container .row .text p {
  margin: 0;
  color: white;
  line-height: 3em;
  font-size: 16px;
  text-align: center;
}

#footer .container .row .text p span {
  color: #d29d07;
}

.back-to-top {
  position: fixed;
  width: 41px;
  height: 41px;
  right: 25px;
  bottom: 25px;
  line-height: 40px;
  z-index: 10000;
  background: #ff771c;
  text-align: center;
  overflow: hidden;
  display: none;
  cursor: pointer;
}

.back-to-top .upper {
  font-size: 15px;
  color: white;
  position: absolute;
  right: 38%;
  top: 31%;
}

.back-to-top .lower {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 100%;
  right: 38%;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.success-card {
  position: fixed;
  right: 25px;
  bottom: 70px;
  width: 320px;
  height: 100px;
  background: darkgreen;
  border-radius: 1000px;
  display: none;
}

.success-card .text {
  color: white;
  padding: 12px;
}

.success-card .text h3 {
  color: #ff771c;
  text-align: center;
}

.success-card .text p {
  text-indent: 10px;
}

@media (max-width: 1199px) {
  .skill-box {
    max-height: 255px;
    min-height: 255px;
  }
}

@media (max-width: 991px) {
  .skill-box {
    max-height: 180px;
    min-height: 180px;
    margin-top: 10px;
  }
  .owl-nav {
    margin-top: 32px;
    margin-bottom: -42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .outer-cardholder {
    max-height: 480px;
    min-height: 480px;
  }
  .skill-box {
    max-height: 200px;
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .skill-box {
    max-height: 130px;
    min-height: 130px;
  }
}

@media (max-width: 500px) {
  #home .container-fluid .row .intro-container .image {
    height: 400px;
  }
  #home .container-fluid .row .intro-container .image img {
    height: 100%;
  }
  #home .container-fluid .row .intro-container .text h1 {
    font-size: 32px;
  }
}

@media (max-width: 470px) {
  #about .container .row .image {
    width: 300px;
  }
}

@media (max-width: 457px) {
  .skill-box {
    max-height: 150px;
    min-height: 150px;
  }
}

@media (max-width: 376px) {
  .skill-box {
    max-height: 180px;
    min-height: 180px;
  }
}
/*# sourceMappingURL=style.css.map */
